{% extends "base.html" %}

{% block content %}
<div class="container">
<form action="/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="users">Users</label>
    <select class="form-control" id="users" name="users" multiple required>
      {% for u in users %}
        <option value="{{ u.id }}">{{ u.id }} {{ u.email }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="channels">Channels</label>
    <select class="form-control" id="users" id="channels" name="channels" multiple required>
      {% for k, v in channels %}
        <option value="{{ k }}">{{ v }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="textInput">Text</label>
    <input type="text" id="textInput" name="text" class="form-control" placeholder="Enter Notify Text" required>
  </div>
  <div class="form-group">
    <label for="template">Template</label>
    <input type="text"  name="template" class="form-control" placeholder="Template must exists {{ "{{ data }" }}}  block" id="template" required>
  </div>
  <div class="form-group">
    <label for="datetime">Date Time Start</label>
    <input type="datetime-local" id="datetime" class="form-control" name="datetime">
  </div>
  <div class="form-check">
    <input id="sendNow" name="send_now" type="checkbox" class="form-check-input">
    <label class="form-check-label" for="sendNow">Send Now</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
